.btn {
    padding: 1rem;
    outline: none;
    border: 0.1rem solid black;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: beige;
}