@import url('reset.css');
@import url('btn.css');
@import url('page.css');
@import url('modal.css');

#page {
    border: 1px solid black;
}

.content {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

body > .modal-open {
    background-color: red;
}