.modal-open #modal {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(131, 131, 128, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    background-color: white;
    border-radius: 10px;
    min-height: 30rem;
    max-height: 30rem;
    min-width: 30rem;
    box-shadow: 4px 4px 56px 0px rgba(34, 60, 80, 0.2);
    padding: 1rem;
}

.modal-open {
    overflow-y: hidden;
}

.modal-open .modal {
    display: flex;
}

.modal .modal-body {
}

.modal {
    overflow-y: auto;
}
